
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background: #004080;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: yellow;
}

.main-img {
  float: left;
  width: 300px;
  margin: 10px;
}

.box {
  position: relative;
  top: 20px;
  left: 10px;
}

#uniqueTitle {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Selectors */
h2 {
  color: darkred;
}

.highlight {
  background-color: lightyellow;
}

#mainFooter {
  font-style: italic;
}
/* .footer{
  background: #004080;
  color: white;
  padding: 10px;
  text-align: center;
} */
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
    background:#ccc;
}


